.w3-margin .w3-quarter:nth-child(4n+2) {
    clear: left;
}

.w3-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

.w3-modal .w3-left {
    width: 40%;
}

.w3-modal .w3-left .w3-image {
    max-height: 400px;
}

.w3-modal .w3-left .w3-hover-opacity {
    width: 33.333%;
}

.w3-modal .w3-right {
    width: 60%;
    min-height: 400px;
    text-align: left;
}