   <div class="w3-margin">
    <div class="w3-container w3-padding-32" id="about">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-12">Комбайны для уборки бобовых культур</h3>
      <p>Сельскохозяйственная техника для уборки фасоли, арахиса и других бобовых производства фирмы SWEERE (Голландия)
        отлично зарекомендовавшая себя на рынке.
        Надежные фасолеуборочные комбайны, косилки для срезания бобовых, мини комбайны для уборки фасоли
        являються ледером отрасли, при этом они легки в обслуживании и эксплуатации</p>
    </div>

    <div class="w3-row-padding" *ngFor="let i of beanRows">
      <div class="w3-col l3 m6 w3-padding" style="cursor:pointer"
           *ngFor="let Bean of beanHarvesters | slice:(i*4):(i+1)*4" (click)="beansModal(Bean)">
        <img src="img/bean/{{ Bean.img }}_1.jpg" alt="{{ Bean.name }}" style="width:100%">
        <h3>{{ Bean.name }}</h3>
        <p class="w3-green">{{ Bean.func }}</p>
        <p class="w3-small">{{ Bean.desc }}</p>
      </div>
    </div>

    <div class="w3-container w3-padding-32">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-12">Гарантия и обслуживание</h3>
      <p>Предоставляется гарантия на один сезон работы комбайна, а также послегарантийное
        сервисное обслуживание, поставка запасных частей и бесплатное обучение комбайнеров на протяжении 20 часов.
        Период поставки техники 90 дней. Возможна оплата частями.</p>
      <p>
        Вас также могут заинтересовать
        <a routerLink="/" title="для уборки малины, черники, смородины">универсальный ягодоуборочный комбайн</a>
        или <a routerLink="/переработка_ягод_фруктов_овощей" title="линии переработки">оборудование по переработке овощей, фруктов</a>
      </p>
    </div>

    <div id="modalBean" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-padding w3-hover-red w3-display-topright" style="cursor:pointer">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img class="w3-left" id="beanImg" src='' style="width:40%;max-height:400px">
        <div class="w3-right w3-small w3-white" style="width:60%;min-height:400px;">
          <div class="w3-padding" id="beanText"></div>
          <div class="w3-padding">
            Предоставляется гарантия на один сезон работы комбайна, а также послегарантийное сервисное обслуживание,
            поставка запасных частей и бесплатное обучение комбайнеров на протяжении 20 часов.
            Период поставки техники 90 дней. Возможна оплата частями. Цену уточняйте.
          </div>
        </div>
      </div>
    </div>
   </div>